/venv/
/.vscode/
/bin/
/training_center/__pycache__/
/training_center/mcq_gen/__pycache__/
/training_center/migrations/__pycache__/
/.idea/
mcq_old_base.db
/training_center/mcq_gen/db.sqlite
/training_center/mcq_gen/db.sqlite3


training_center/migrate_from_old_version.py
training_center/mcq_gen/old_models.py
training_center/mcq_gen/mcq_old_base.db
mcq_gen_db_backups
.DS_Store