{% extends 'base.html' %}
{% block content %}
    <div class="container mt-2">
        <a href="{% url 'create_course' %}"
           type="button"
           class="btn btn-primary">Create new course</a>
    </div>
    <div class="row row-cols-1 row-cols-md-4 g-3 mt-3">
        {% for course in courses %}
            <div class="col">
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title">Course {{ course.course_number }}</h5>
                        <h6 class="card-title">{{ course.training.name }}</h6>
                        <p class="card-text">
                            <ul>
                                <li>Number of studens: {{ course.students.count }}</li>
                                <li>Number of exams: {{ course.exams.count }}</li>
                            </ul>
                        </p>
                        {% url 'course_details' course.id as the_url_to_course_details %}
                        <a href="{{ the_url_to_course_details }}" class="btn btn-info">Details</a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock content %}
