{% extends 'base.html' %}
{% block content %}
    <form action="" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <select name="course" id="course">
            {% for course in courses %}
                <option value="{{ course.id }}">
                    {{ course }}
                </option>
            {% endfor %}
        </select>
        <input type="date" name="exam_date" id="exam_date">
        <div class="row row-cols-1 row-cols-md-6 g-3 mt-3">
            {% for ata in atas %}
                <div class="col" id="ata_checkboxes">
                    <div class="mx-auto">
                        <label for="{{ ata.ata_digit }}">{{ ata.ata_digit }}</label>
                        <input type="checkbox"
                               class="form-check-input"
                               name="{{ ata.ata_digit }}"
                               id="{{ ata.ata_digit }}">
                    </div>
                </div>
            {% endfor %}
            <a href="#" class="btn btn-primary" id = "btn_create_exam">Create New Exam</a>
            <input type="submit" class="btn btn-primary" value="Create">
        </div>
    </form>
{% endblock content %}
{% block scripts %}
    <script>
        $(document).ready(function() {
            function disableAtas() {
                var course_id = $('#course').val()
                $.ajax({
                    type: 'get',
                    url: "{% url 'get_remaining_atas_for_course' 123%}".replace('123', course_id),
                    data: course_id,
                success: function(data) {
                    atas_to_enable = data['remaining_ata_chapters']
                    $(":checkbox").prop('disabled', true)
                    $(":checkbox").prop('checked', false)
                    for (let i = 0; i < atas_to_enable.length; i++) {
                        console.log(atas_to_enable[i]);
                        $('#'+atas_to_enable[i]).prop('disabled', false)
                    }
                }
                })
            }

            $('#course').on('change', function() {
                disableAtas()
            });

            $('#btn_create_exam').on('click' ,function() {
                let course_id = $('#course').val()
                let exam_date = $('#exam_date').val()
                var atas = []
                $('#ata_checkboxes input:checked').each(function() {
                    atas.push($(this).attr('name'));
                });
               
            })
        })
    </script>
{% endblock scripts %}
