{% extends 'base.html' %}
{% block content %}
    <div class="container">
        <div class="row">
            <h2>Exam ID# {{ exam.id }} details</h2>
            {{ exam_questions_table | safe }}
        </div>
        <div class="row mt-4">
            <h2>Questions count</h2>
            {{ exam_questions_by_ata | safe }}
        </div>
    </div>
    {% if not is_it_second_reexam %}
        {% url 'create_reexam' exam.id as the_url_to_reexam %}
        <a href="{{ the_url_to_reexam }}" type="button" class="btn btn-primary">Create reexam</a>
    {% endif %}
    {% url 'delete_exam' exam.id as the_url_to_delete_exam %}
    <a href="{{ the_url_to_delete_exam }}"
       type="button"
       class="btn btn-danger">Delete exam</a>
{% endblock content %}
{% block scripts %}
    <script>
$(document).ready(function() {
    var question_details_table = $('#exam_question_details').dataTable( {
        paging: false,
        scrollY: 400,   
        dom: 'Bfrtip',
        select: 'single',
        buttons: [
            {
                extend: 'selected',
                text: 'Auto change selected question',
            },
            'selectAll',
            'selectNone',
        ],
      
        "language": {
            "info": "Total in exam: _TOTAL_ questions",
          }
        
    } );

    console.log(question_details_table.button(0))

    question_details_table.api().button(0).action( function ( e, dt, button, config ) {
        var url = "{% url 'auto_change_questions' 'kuku'%}"
        url = url.replace('kuku', {{ exam.id }})
        selectedRowsData = dt.rows( { selected: true } ).data()
        data = JSON.stringify(selectedRowsData[0])
        $.get( url, { question: data } );
    } );
   
    
    
    {% comment %} $(document).on('click','#exam_question_details',function(e){
        var row_object  = question_details_table.api().row(this).data();
        {% comment %} var url = "{% url 'question_details' 'kuku'%}"
        url = url.replace('kuku', row_object[1])
        
        window.open(url, '_blank'); 
       
    }); {% endcomment %}

    
} );
</script>
{% endblock scripts %}
